<% include ../partials/header %>

<div class="jumbotron gradient" id="particles-js">	
	<div class="container" id="header">
		<h2 id="intro">Got any questions?</h2>
		<p id="detail">Don't hesitate to get in touch. Your info is safe here</p>
	</div>
</div>

<div class="container">
	<form id="contact-form" action="MAILTO:nhan.nguyen@uwaterloo.ca" method="POST" enctype="text/plain">
		<div class="form-group" data-aos="zoom-in" data-aos-once="true">
			<label class="contact-label">Name:</label>
			<input type="text" name="name" class="contact-input form-control" id="contact-name" placeholder="Enter your name...">
		</div>

		<div class="form-group" data-aos="zoom-in" data-aos-once="true">
			<label class="contact-label">E-mail adress:</label>
			<input type="email" name="email" class="contact-input form-control" id="contact-email" placeholder="Enter your email address...">
		</div>
		
		<div class="form-group" data-aos="zoom-in" data-aos-once="true">
			<label class="contact-label">Phone number:</label>
			<input type="text" name="phone" class="contact-input form-control" id="contact-phone" placeholder="Enter your phone number...">
		</div>
		
		<div class="form-group" data-aos="zoom-in" data-aos-once="true">
			<label class="contact-label">Your message:</label>
			<input type="text" name="message" class="contact-input form-control" id="contact-message" placeholder="Enter a message...">
		</div>

		<button class="btn btn-default" id="learn-more" data-aos="zoom-in" data-aos-once="true">Send mail</button>
	</form>
</div>

<script type="text/javascript" src="/scripts/others.js"></script>

<% include ../partials/footer %>