<div id="about-me-parital" class="jumbotron">
	<div id="profile-container" class="container">
		<div id="profile-block" class="container">
			<h4 class="about-section">About me</h4>
			<h2 class="bold-section">Nhan Tri Nguyen</h2>
			<p id="intro-para">I am currently a Computer Science student of the University of Waterloo working hard to land a job as a software developer</p>

			<p id="main-para">Great as my love for programming is, my ultimate goal is not just to have fun while writing code. In fact, the real purpose of coding to me is to abstract tedious parts in order to make people's life easier and happier by means of  programming . . . including mine</p>
		</div>
	</div>
	<div id="profile-img"></div>
</div>