<div id="about-me-parital" class="jumbotron">
	<div id="profile-block" class="container">
		<h4 id="about-section">About me</h4>
		<h2 id="my-name">Nhan Tri Nguyen</h2>
		<p id="intro-para">The fascination of solving complex puzzles of life along with the craving of always learning brought me to the world of Computer Science. Starting off by learning various algorithms in high school was a path I have chosen. Realizing practicality means something more, I chose a whole new pathway, I chose the University of Waterloo</p>
		<p id="main-para">I am currently a Computer Science student of the University of Waterloo (UW). UW's Co-op program offers me opportunities to bring my theoretic knowledge into reality. Preparing for my very first job, I started learning and creating some practical products including scripts, Android app, and web Applications. Great as my love for programming is, there are still other parts of my life that I share my love. That is the love of music. I have been learning the piano for quite a time which makes music another part of my life. To know more about me, approaching through emails is appreciated.</p>
	</div>
	<div id="profile-img"></div>
</div>