<div id="contact-partial" class="jumbotron">
	<div id="header">
		<h2 id="intro">Got A Project In Mind?</h2>
		<p id="detail">Let's get down to business. I'm ready for work</p>
		<a href="/contact" class="btn btn-default" id="learn-more">Get in touch</a>
	</div>
</div>