	<div class="container" id="footer">
		<div class="row">
			<div class="col-md-4 col-sm-12" id="footer-brand">
				<h1>PROMISE</h1>
			</div>
			<div class="col-md-4 col-sm-12" id="copyright">
				<p>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2017 Promise</p>
				<p class="address">80 Newland Crescent, Charlottetown, PE C1A 4H7</p>
			</div>
			<div class="col-md-4 col-sm-12" id="footer-contact">
				<a href="https://www.facebook.com/ngtrnhan1205"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
				<a href="https://github.com/nhan-tri-nguyen"><i class="fa fa-github-square" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
	<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
</body>
</html>