	<div id="upper-footer">
		<div class="row">
			<div class="col-md-4 col-sm-12" id="footer-about-me">
				<h4>About me</h4>
				<p class="white-paragraphs">I'm stepping into a new world of possibilities starting off with web and android development. My next goal is to find an inspiring job</p>
			</div>
			<div class="col-md-4 col-sm-12" id="footer-location">
				<h4>Location</h4>
				<p class="white-paragraphs">80 Newland Crescent</p>
				<p class="white-paragraphs">Charlottetown, Prince Edward Island</p>
				<p class="white-paragraphs">Canada - C1A 4H7</p>
			</div>
			<div class="col-md-4 col-sm-12" id="footer-get-in-touch">
				<h4>Get in touch</h4>
				<p class="white-paragraphs"><strong>Phone: </strong><a href="/contact">902-626-8629</a></p>
				<p class="white-paragraphs"><strong>Mail: </strong><a href="/contact">nhan.nguyen@uwaterloo.ca</a></p>
				<p class="white-paragraphs"><strong>Skype: </strong><a href="/contact">ngtrnhan1205</a></p>
			</div>
		</div>
	</div>

	<div class="container" id="footer">
		<div class="row">
			<div class="col-md-4 col-sm-12" id="footer-brand">
				<h1>PROMISE</h1>
			</div>
			<div class="col-md-4 col-sm-12" id="copyright">
				<p>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2017 Promise</p>
				<p class="address">80 Newland Crescent, Charlottetown, PE C1A 4H7</p>
			</div>
			<div class="col-md-4 col-sm-12" id="footer-contact">
				<a href="https://www.facebook.com/ngtrnhan1205"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
				<a href="https://github.com/nhan-tri-nguyen"><i class="fa fa-github-square" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/scripts/main.js"></script>
</body>
</html>
