<!DOCTYPE html>
<html>
<head>
	<title>Personal Website</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
	<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Changa:800|Montserrat:400,700|Raleway:400,800" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
	<script
  		src="https://code.jquery.com/jquery-3.2.1.min.js"
  		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  		crossorigin="anonymous">		
  	</script>
  	<script src="https://use.fontawesome.com/42a60c4ebf.js"></script>
  	<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
</head>
<body>
	<div class="container" id="menu-btn">
		<div class="bar1"></div>
		<div class="bar2"></div>
		<div class="bar3"></div>
	</div>
	<div id="menu" class="overlay">
		<span class="closebtn"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Ok. Take me back</span>
		<div class="overlay-content">
			<a href="/" id="home-side" class="white-text">HOME</a>
			<a href="/about" id="about-side" class="white-text">ABOUT ME</a>
			<a href="/projects" id="projects-side" class="white-text">PROJECTS</a>
			<a href="/contact" id="contact-side" class="white-text">CONTACT</a>
		</div>
	</div>