<!DOCTYPE html>
<html>
<head>
	<title>Personal Website</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<script
  		src="https://code.jquery.com/jquery-3.2.1.min.js"
  		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  		crossorigin="anonymous">		
  	</script>
</head>
<body>
	<div class="jumbotron">
		<div class="container" id="menu-btn">
			<div class="bar1"></div>
			<div class="bar2"></div>
			<div class="bar3"></div>
		</div>
		<div class="container" id="header">
			<h3>ABOUT ME</h3>
			<h2>Hello. My Name Is Nhan Nguyen</h2>
			<p>I'm a Computer Science student at the University of Waterloo with the love of programming. Currently, I'm teaching myself Web development and Android development to land my first co-op job.</p>
			<a href="#" class="btn btn-default" id="learn-more">Learn more</a>
		</div>
		<div id="tab-menu" class="container">
			<div class="row">
				<a class="col-md-3 col-sm-12 tab-menu-obj" id="about-me" href="#">
					<img src="/images/about-me.png" class="icon" width="40" height="40">
					<h3>About Me</h3>
				</a>	
				<a class="col-md-3 col-sm-12 tab-menu-obj" id="projects" href="#" >
					<img src="/images/projects.png" class="icon" width="40" height="40">
					<h3>Projects</h3>
				</a>	
				<a class="col-md-3 col-sm-12 tab-menu-obj" id="inspiration" href="#" >
					<img src="/images/inspiration.png" class="icon" width="40" height="40">
					<h3>Inspiration?</h3>
				</a>	
				<a class="col-md-3 col-sm-12 tab-menu-obj" id="contact" href="#" >
					<img src="/images/contact.png" class="icon" width="40" height="40">
					<h3>Contact</h3>
				</a>	
			</div>
		</div>
	</div>
	<div id="menu" class="overlay">
		<span class="closebtn">Ok. Take me back</span>
		<div class="overlay-content">
			<a href="#">HOME</a>
			<a href="#">ABOUT ME</a>
			<a href="#">PROJECTS</a>
			<a href="#">CONTACT</a>
		</div>
	</div>