<% include ./partials/header %>

<p>Loren ipsum</p>
<p>Loren ipsum</p>
<p>Loren ipsum</p>
<p>Loren ipsum</p>
<p>Loren ipsum</p>
<p>Loren ipsum</p>
<p>Loren ipsum</p>
<p>Loren ipsum</p>
<p>Loren ipsum</p>
<p>Loren ipsum</p>
<p>Loren ipsum</p>
<p>Loren ipsum</p>
<p>Loren ipsum</p>
<p>Loren ipsum</p>
<p>Loren ipsum</p>
<% include ./partials/footer %>