<% include ./partials/header %>

	<div class="jumbotron">	
		<div class="container" id="header">
			<h4 id="section">ABOUT ME</h4>
			<h2 id="intro">Hello. I'm Nhan Nguyen</h2>
			<p id="detail">Warm greetings to you all from a student at University of Waterloo</p>
			<a href="#" class="btn btn-default" id="learn-more">Learn more</a>
		</div>
		<div id="tab-menu" class="container">
			<div class="row">
				<button class="col-md-3 col-sm-12 col-xs-12 tab-menu-obj" id="about-me">
					<img src="/images/about-me.png" class="icon" width="40" height="40">
					<h3 id="tab-menu-header">About Me</h3>
				</button>	
				<button class="col-md-3 col-sm-12 col-xs-12 tab-menu-obj" id="projects">
					<img src="/images/projects.png" class="icon" width="40" height="40">
					<h3 id="tab-menu-header">Projects</h3>
				</button>	
				<button class="col-md-3 col-sm-12 col-xs-12 tab-menu-obj" id="inspiration">
					<img src="/images/inspiration.png" class="icon" width="40" height="40">
					<h3 id="tab-menu-header">Inspiration?</h3>
				</button>	
				<button class="col-md-3 col-sm-12 col-xs-12 tab-menu-obj" id="contact">
					<img src="/images/contact.png" class="icon" width="40" height="40">
					<h3 id="tab-menu-header">Contact</h3>
				</button>	
			</div>
		</div>
		<div class="header-overlay"></div>
	</div>

<p>Loren ipsum</p>
<p>Loren ipsum</p>
<p>Loren ipsum</p>
<p>Loren ipsum</p>
<p>Loren ipsum</p>
<p>Loren ipsum</p>
<p>Loren ipsum</p>
<p>Loren ipsum</p>
<p>Loren ipsum</p>
<p>Loren ipsum</p>
<p>Loren ipsum</p>
<p>Loren ipsum</p>
<p>Loren ipsum</p>
<p>Loren ipsum</p>
<p>Loren ipsum</p>


	<script type="text/javascript" src="/scripts/home.js"></script>

<% include ./partials/footer %>