.jumbotron {
	background: 
		linear-gradient(
			rgba(10, 10, 30, 0.5),
			rgba(10, 10, 30, 0.5)
		),
		url(../images/backgroundOthers.jpg);
	background-size: cover;
	background-position: bottom;
	height: 90vh;
	margin: 0;
	padding:0;
	position: relative;
	color: white;
	transition: 1.0s;
}

#contact-form {
	text-align: center;
	margin: 100px 0;
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
}

.contact-input {
	text-align: center;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background-color: transparent;
	height: 70px;
	font-size: 25px;
	margin-bottom: 35px;
	padding: 0;
	color: #858585;
	opacity: 0.35;
	transition: 0.5s ease;
}

.contact-input:hover {
	opacity: 0.6;
}

.contact-input:focus {
	opacity: 0.6;
	background-color: #f0f0f0;
}

.contact-label {
	font-weight: 800;
	display: inline-block;
	margin-bottom: 20px;
	padding-bottom: 5px;
	color: black;
	border-bottom: 2px solid black;
	line-height: 20px;
}

#intro {
	font-weight: 800;
	margin-bottom: 36px;
	font-size: 36px;
	text-shadow: 0px 4px 3px rgba(30, 30, 50, 0.8),
			 0px 8px 12px rgba(30, 30, 50, 0.8),
			 0px 18px 22px rgba(30, 30, 50, 0.8);
}

#detail {
	margin: 10px 69px;
	color: rgba(250, 250, 250, 0.8);
}

.header-overlay {
	background: transparent;
	transition: background 0.6s;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
    z-index: 1;
}

#showcase {
	margin: 0;
	width: 100%;
	padding: 12%;
	background-color: #ededed;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 150px;
}

.card-img-top {
	box-shadow: 0 1px 3px #888888;
}

.card-block {
	margin: 25px;
	height: auto;
	text-align: left;
	font-family: 'Raleway', sans-serif;
}

.card-category {
	font-size: 16px;
	color: #adadad;
	margin-bottom: 3px;
	font-weight: 700;
}

.card-title {
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
	margin-top: 0;
	margin-bottom: 10px;
}

.card-hr {
	height: 2px;
	width: 33%;
	margin-top: 18px;
	margin-bottom: 30px;
	background: #b0b0b0;
	display: block;
}

.card-text {
	display: block;
	margin-bottom: 30px;
}

#projects-sub-title {
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	border-bottom: 3px solid #d1d1d1;
	color: #d1d1d1;
	font-size: 18px;
	margin: 0;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
}

#projects-title {
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	font-weight: 800;
	margin-top: 10px;
	margin-bottom: 40px;
}

/* Animation */

.content-in {
	animation-name: content-in;
	animation-duration: 1.0s;
}

@keyframes content-in {
	from {
		transform: translateY(50px);
		opacity: 0.3;
	}
	to {
		transform: translateY(0);
		opacity: 1.0;
	}
}

.overlay-in {
	animation-name: overlay-in;
	animation-duration: 0.8s;
}


@keyframes overlay-in {
	0% {background: transparent;}
	50% {background: rgba(0, 0, 0, 0.8)}
	100% {background: transparent}
}

/* End */

.bar1, .bar2, .bar3 {
	width: 36px;
	height: 5px;
	margin: 5px 0;
	border-radius: 25px;
	background-color: rgba(200, 200, 200, 0.6);
	transition: 0.5s; 
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}

#menu-btn:hover .bar1, #menu-btn:hover .bar2, #menu-btn:hover .bar3 {
	background-color: rgba(0,0,0, 0.8);
	transform: translateX(10px);
}

#menu-btn {
	margin-top: 50px;
	margin-left: 20px;
	position: fixed;
	background: none;
	display: inline-block;
	text-align: center;
	float: left;
	padding: 20px;
	width: 66px;
	z-index: 1;
}

.overlay {
	height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top:  0;
    background-color: rgba(0,0,0, 0.8); 
    overflow-x: hidden; 
    transition: 0.3s;
    text-align: center;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    padding-top: 15px;
}

.overlay-content {
	float: center;
	position: relative;
    margin-top: 69px; 
    color: white;
}

.overlay-content a {
	display: inline-block;
	border-bottom: 0.5px solid rgba(90, 90, 90, 0.88);
	font-size: 16px;
	font-weight: 700;
}

.overlay a {
	text-decoration: none;
    padding: 20px;
    display: block; 
    transition: 0.3s; 
}

.white-text {
	color: white;
}

.overlay span {
    padding: 15px;
    color: white;
    display: block; 
    transition: 0.3s;
    font-size: 14px; 
}

.overlay a:hover, .overlay a:focus {
    color: rgb(220, 20, 60);
    background: rgba(0, 0, 0, 0.8);
}

.overlay-active {
	color: rgb(220, 20, 60);
    background: rgba(200, 200, 200, 0.1);
}

.overlay .closebtn:hover, .overlay .closebtn:focus {
    color: white;
}

.overlay .closebtn {
    top: 50px;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

#upper-footer {
	background-color: #3a4147;
	text-align: center;
	padding: 100px 69px;
}

#upper-footer h4 {
	margin-top: 30px;
	margin-bottom: 10px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	opacity: 0.36;
	font-size: 18px;
	font-weight: 700;
}

.white-paragraphs {
	line-height: 21px;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: white;
	text-align: center;
	float: center;
	max-width: 360px;
	margin: auto;
}

.white-paragraphs a {
	color: white;
	opacity: 0.36;
}

.white-paragraphs a:hover {
	opacity: 1.0;
	text-decoration: none;
}

#about-me-parital {
	height: 100vh;
	min-height: 530px;
	color: black; 
	background: linear-gradient(
		180deg, 
		hsla(0, 0%, 100%, .9), 
		hsla(0, 0%, 100%, .8)), 
	url(../images/profile.jpg);
	background-size: 900px 1000px;
	background-repeat: no-repeat;
	background-position: top;
	padding: 120px 0;
	font-family: 'Raleway', sans-serif;
}

#profile-container {
	margin: auto;
	max-width: 992px;
	width: 100%;
	padding-right: 36%;
}

#profile-block {
	width: 450px;
	float: left;
}

.about-section {
	display: inline-block;
	color: #d1d1d1;
	margin: 10px 0;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3px;
	border-bottom-style: solid;
	position: relative;
}

.bold-section {
	margin-top: 9px;
	color: black;
	font-weight: 800;
	font-size: 36px;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 30px;
}

#intro-para {
	margin-top: 36px;
	margin-bottom: 30px;
	color: #9c9c9c;
	font-size: 18px;
	line-height: 26px;
	font-weight: 300;
}

#main-para {
	margin-top: 0;
	margin-bottom: 5px;
	line-height: 23px;
	font-size: 16px;
}

#profile-img {
	position: absolute;
	right: 5%;
	bottom: 10%;
	width: 58vh;
	height: 58vh;
	background: url(../images/dino.jpg);
	background-size: cover;
}

#about-prog-text {
	width: 450px;
	float: right;
}

#programming-img {
	float: left;
	margin: 10px 0px;	
	margin-left: 50px;
	width: 360px;
	height: 300px;
	border: solid white 5px;
	box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
	background: url(../images/programming.jpg);
	background-size: cover;
	background-position: center;
}

#about-prog-container {
	height: 100vh;
	min-height: 480px;
	color: black; 
	background: #ededed;
	padding: 120px 0;
	font-family: 'Raleway', sans-serif;
}

#about-prog-block {
	margin: auto;
	max-width: 992px;
	width: 100%;
	height: 100%;
	padding: 0 15px;
	padding-right: 5px;
}

#contact-partial {
	height: 280px;
	min-height: ;
	position: static;
	background: 
		linear-gradient(
			rgba(10, 10, 30, 0.5),
			rgba(10, 10, 30, 0.5)
		),
		url(../images/get-in-touch.jpg);
	background-position: center;
	background-size: cover;
}

#header {
	text-align: center;
	padding-top: 15%;
	font-family: 'Raleway', sans-serif;
}

#contact-partial #header {
	padding-top: 60px;
}

#home-jumbotron {
	background: 
		linear-gradient(
			rgba(10, 10, 30, 0.6),
			rgba(10, 10, 30, 0.6)
		),
		url(../images/background.jpg);
	background-size: cover;
	height: 100vh;
}

#learn-more {
	background: rgb(220, 20, 60);
	border: none;
	color: white;
	text-transform: uppercase;
	margin-top: 20px;
	font-size: 12px;
	padding: 12px 16px;
	border-radius: 6px;
	font-family: 'Montserrat', sans-serif;
	transition: transform 1.0s ease-in, background 0.5s;
}

#learn-more:hover {
	background: rgb(100, 10, 10);
}

.img-overlay {
	position: absolute;
	background: black;
	opacity: 0;
	transition: 0.8s;
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 1;
}

#img-container {
	position: relative;
}

#img-container:hover .img-overlay {
	opacity: 0.5;
}

/* Animation */

.btn-in {
	animation-name: btn-in;
	animation-duration: 0.5s;
	animation-timing-function: ease-in;
}

@keyframes btn-in {
	from {
		font-size: 20px;
		opacity: 0;
	    transform: rotate(-30deg);
	}
	to {
		font-size: 12px;
		opacity: 1.0;
	    transform: none;
	}
}

/* End */

.tab-menu-obj {
	opacity: 0.5;
	transition: 0.5s;
	padding: 0;
	float: left;
}

.active {
	opacity: 1.0;
	text-decoration: none;
	border: none;
}

.tab-menu-obj:hover {
	opacity: 1.0;
	text-decoration: none;
	-ms-flex: 0 0 100%;
       	flex: 0 0 100%;
    max-width: 100%;
}

#tab-menu {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0;
	padding: 30px 180px;
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	transition: 0.5s;
}

#tab-menu button {
	text-decoration: none;
	background: transparent;
	border: none;
}

#tab-menu-header {
	font-size: 18px;
}

#tab-menu button:focus {
	outline: none;
}

#section {
	border-bottom: 3px solid rgba(255, 255, 255, 0.3);
	color: rgba(255, 255, 255, 0.3);
	margin-bottom: 0;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
}

#page-not-found {
	background: 
		linear-gradient(
			180deg, 
			rgba(45, 51, 59, .5), 
			white
		), 
		url(../images/backgroundOthers.jpg);
	background-size: cover;
	text-align: center;
	height: 100vh;
	padding-top: 6%;
}

#pnf-header {
	color: white;
	font-size: 42px;
	margin-bottom: 25px;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	letter-spacing: 1px;
	text-transform: capitalize;
}

#pnf-btn {
	width: 270px;
	height: 70px;
	color: white;
	border: solid white 4px;
	background: transparent;
	padding: 25px 40px;
	margin-top: 10px;
	border-radius: 50px;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	vertical-align: middle;
	text-decoration: none;
	line-height: 14px;
	transition: 0.8s;
}

#pnf-btn:hover {
	background: rgb(220, 20, 60);
	border-color: rgb(220, 20, 60);
}

@media screen and (max-width: 991px) {
    #intro {
    	font-size: 30px;
    }

    #section {
    	font-size: 18px;
    	letter-spacing: 2px;
    }

    #detail {
    	font-size: 20px;
    }

    #tab-menu {
    	padding: 0;
    }

    #tab-menu .tab-menu-obj {
    	display: flex;
    	text-align: center;
    	border-bottom: 0.5px black solid;
    }

    #tab-menu img {
		width: 30px;
		height: 30px;
		margin: 5px 30px;
	}

	#tab-menu-header {
		font-size: 16px;
		margin: 10px;
		margin-left: 36%;
		width: auto;
		float: center;
	}

	#contact {
		margin-bottom: 10px;
	}

	#profile-img {
		right: 1%;
	}

	#pnf-header {
		font-size: 36px;
	}
}

@media screen and (max-width: 895px) {
	#about-prog-container {
		padding-top: 50px;
		height: 88vh;
	}

	#programming-img {
		width: 276px;
		height: 230px;
		margin-left: 10px;
	}
}

@media screen and (max-width: 767px) {
    #intro {
    	font-size: 25px;
    }

    #section {
    	font-size: 16px;
    }

    #detail {
    	font-size: 16px;
    }

    #tab-menu {
    	padding: 0;
    }

    #tab-menu img {
		width: 25px;
		height: 25px;
		margin: 2.5px 20px;
	}

	#tab-menu-header {
		font-size: 14px;
		margin: 10px;
	}

	.overlay-content a {
		font-size: 14px;
	}

	.overlay .closebtn {
		font-size: 12px;
		padding-left: 1px;
	}

	.bar1, .bar2, .bar3 {
		width: 28px;
		height: 4px;
		margin: 4px 0;
		padding: 0;
	}

	#menu-btn {
		margin: 0;
		padding: 8px;
	}

  	.card-columns {
	    -webkit-column-count: 1;
	            column-count: 1;
  	}

	#projects-sub-title {
		font-size: 16px;
	}

	#projects-title {
		font-size: 36px;
	}

	#profile-container {
		padding-right: 15px;
	}

	#about-prog-block {
		padding-left: 15px;
	}


	.about-section {
		font-size: 14px;
	}

	.bold-section {
		font-size: 27px;
	}

	#about-me-parital {
		padding-top: 80px;
	}

	#intro-para {
		font-size: 16px;
	}

	#main-para {
		font-size: 14px;
	}

	#profile-block {
		float: none;
		text-align: center;
	}

	#about-prog-text {
		float: none;
		text-align: center;
	}

	#upper-footer {
		padding-left: 50px;
		padding-right: 50px;
	}

	#profile-img {
		display: none;
	}

	#programming-img {
		display: none;	
	}

	#page-not-found {
		padding-top: 12%;
	}

	#pnf-header {
		font-size: 26px;
	}

	#pnf-btn {
		width: 250px;
		height: 70px;
		margin-top: 0;
		font-size: 14px;
		line-height: 0;
	}
}

@media screen and (max-width: 475px) {
	#contact-partial #header {
		padding-top: 8%;
	}

	#about-me-parital {
		padding-top: 36px;
	}

	#about-prog-container {
		padding-top: 36px;
		height: 100vh;
	}

	.bold-section {
		font-size: 22px;
	}

	#intro {
		font-size: 20px;
	}
}

#footer {
	background: rgba(0, 0, 0, 0.8); 
	padding: 25px;
	width: 100%;
	height: auto;
	color: rgb(120, 120, 120);
	vertical-align: middle;
	text-align: center;
}

#footer-brand {
	word-spacing: 2px;
	font-family: 'Changa', sans-serif;
	font-weight: 800;
	font-size: 32px;
}

#copyright {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 0;
}

#copyright .address {
	margin-bottom: 0;
	font-size: 12px;
}

#copyright p {
	margin-bottom: 5px;
	font-size: 14px;
}

#footer-contact i:hover {
	color: rgb(220, 20, 60);
}

#footer-contact i {
	font-size: 50px;
	margin: 20px 5px;
	text-decoration: none;
	color: rgb(105, 105, 105);
	transition: 0.5s;
}