.bar1, .bar2, .bar3 {
	width: 36px;
	height: 5px;
	margin: 5px 0;
	border-radius: 25px;
	background-color: rgba(200, 200, 200, 0.6);
	transition: 0.5s; 
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}

#menu-btn:hover .bar1, #menu-btn:hover .bar2, #menu-btn:hover .bar3 {
	background-color: rgba(0,0,0, 0.8);
	transform: translateX(10px);
}

#menu-btn {
	margin-top: 50px;
	margin-left: 20px;
	position: fixed;
	background: none;
	display: inline-block;
	text-align: center;
	float: left;
	padding: 20px;
	width: 66px;
	z-index: 1;
}

.overlay {
	height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top:  0;
    background-color: rgba(0,0,0, 0.8); 
    overflow-x: hidden; 
    transition: 0.3s;
    text-align: center;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    padding-top: 15px;
}

.overlay-content {
	float: center;
	position: relative;
    margin-top: 69px; 
}

.overlay-content a {
	display: inline-block;
	border-bottom: 0.5px solid rgba(90, 90, 90, 0.8);
	font-size: 16px;
	font-weight: 700;
}

.overlay a {
	text-decoration: none;
    padding: 20px;
    color: white;
    display: block; 
    transition: 0.3s; 
}

.overlay span {
    padding: 15px;
    color: white;
    display: block; 
    transition: 0.3s;
    font-size: 14px; 
}

.overlay a:hover, .overlay a:focus {
    color: rgb(220, 20, 60);
    background: rgba(0, 0, 0, 0.9);
}

.overlay .closebtn:hover, .overlay .closebtn:focus {
    color: white;
}

.overlay .closebtn {
    top: 50px;
    color: rgba(255, 255, 255, 0.6);
}

#upper-footer {
	background-color: #3a4147;
	text-align: center;
	padding: 100px 69px;
}

#upper-footer h4 {
	margin-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	opacity: 0.36;
	font-size: 18px;
	font-weight: 700;
}

.white-paragraphs {
	line-height: 21px;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: white;
	text-align: center;
	float: center;
	max-width: 360px;
	margin: auto;
}

.white-paragraphs a {
	color: white;
	opacity: 0.36;
}

.white-paragraphs a:hover {
	opacity: 1.0;
	text-decoration: none;
}

#footer {
	background: rgba(0, 0, 0, 0.8); 
	padding: 25px;
	width: 100%;
	height: auto;
	color: rgb(120, 120, 120);
	vertical-align: middle;
	text-align: center;
}

#footer-brand {
	word-spacing: 2px;
	font-family: 'Changa', sans-serif;
	font-weight: 800;
	font-size: 32px;
}

#copyright {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 0;
}

#copyright .address {
	margin-bottom: 0;
	font-size: 12px;
}

#copyright p {
	margin-bottom: 5px;
	font-size: 14px;
}

#footer-contact i:hover {
	color: rgb(220, 20, 60);
}

#footer-contact i {
	font-size: 50px;
	margin: 20px 5px;
	text-decoration: none;
	color: rgb(105, 105, 105);
	transition: 0.5s;
}

