<% include ../partials/header %>

<div class="jumbotron">	
	<div class="container" id="header">
		<h2 id="intro">Nice To Meet You</h2>
		<p id="detail">A little bit about myself...</p>
	</div>
	<div class="header-overlay"></div>
</div>

<script type="text/javascript" src="/scripts/others.js"></script>

<% include ../partials/about %>

<div id="about-prog-container" class="jumbotron">
	<div id="about-prog-block" class="container">
		<div id="about-prog-text" class="container">
			<h4 class="about-section">Why I Love</h4>
			<h2 class="bold-section">Programming</h2>
			<p id="intro-para">The fascination of solving complex puzzles along with the craving for always learning has brought me to the world of Programming</p>
			<p id="main-para">Starting off by learning various algorithms in high school was a path I have chosen. Realizing practicality means something more to me, I chose a new pathway, I chose the University of Waterloo. That was when I started making some personal projects . . .</p>
		</div>
	</div>
	<img src="#">
</div>

<% include ../partials/contact %>
<% include ../partials/footer %>