<% include ../partials/header %>

<div class="jumbotron">	
	<div class="container" id="header">
		<h2 id="intro">Nice To Meet You</h2>
		<p id="detail">A little bit about myself...</p>
	</div>
	<div class="header-overlay"></div>
</div>

<script type="text/javascript" src="/scripts/others.js"></script>

<% include ../partials/about %>
<% include ../partials/contact %>
<% include ../partials/footer %>